/* clear out the font based icon */
.largePlayBtn.icon-play:before {
    content: "";
}
/* replace play button with jack-o-lantern: */
.mwPlayerContainer .largePlayBtn, .mwPlayerContainer .largePlayBtn:hover{
    background-image: url('https://smallimg.pngkey.com/png/small/14-143131_play-player-button-of-video-play-video-button.png');
    background-size: 93px 100px;
    width:93px;
    height:100px;
    padding: 0px;
    margin:-50px;
}